<nav class="navbar navbar-expand-lg" style="background-color: var(--bs-info-bg-subtle);>
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img src="{{ url_for('static', filename='images/p_image.jpg') }}"  alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
      PaperInsights
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="summarize">Summarize</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="extract">Extract</a>
        </li>
        
        
      </ul>
       
       <i class="fa fa-user-circle" style="font-size:34px;color:black"></i>
    </div>
  </div>
</nav>